<header class="header-default">
<nav class="navbar navbar-expand-lg">
<div class="container-xl">
        <!-- logo  -->
        <a href="/" class="navbar-brand">
            <img src="/img/logo.png" style="width:50%; height:auto; max-width : 250px ;   display: block;
            margin-left: auto;
            margin-right: auto;">
        </a>

   

        <div class="collapse navbar-collapse">
                             <ul class="navbar-nav mr-auto">
                                 <li class="nav-item dropdown active">
                                     <a href="/" class="nav-link dropdown-toggle">Home</a>
                                     <ul class="dropdown-menu">
                                     <li>
                                        <a href="/categories/Maharashtra" class="dropdown-item">Maharashtra</a>
                                    </li>
                            <li>
                                <a href="/categories/Politics" class="dropdown-item">Politics</a>
                            </li>
                            <li>
                                <a href="/categories/Crime" class="dropdown-item">Crime</a>
                            </li>
                             <li>
                                <a href="/categories/Finance" class="dropdown-item">Finance</a>
                            </li>
                            <li>
                                <a href="/categories/Technology" class="dropdown-item">Technology</a>
                            </li>
                         
                        </ul>
                    </li>
                                  
                <li class="nav-item">
                    <a href="/latest" class="nav-link">Latest</a>
                </li>
                <li class="nav-item">
                    <a href="/Technology" class="nav-link">Technology</a>
                </li>
                <li class="nav-item">
                    <a href="/epaper" class="nav-link">Epaper</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>

        <!-- right side of header  -->
        <div class="header-right">
            <ul class="social-icons list-unstyled list-inline mb-0">
                <li class="list-inline-item">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><i class="fab fa-telegram-plane"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>

            <!-- buttons  -->
            <div class="header-buttons">
                <button class="search icon-button">
                    <i class="icon-magnifier"></i>
                </button>
                <button class="burger-menu icon-button">
                    <span class="burger-icon"></span>
                </button>
            </div>
        </div>
    </div>
</nav>


</header>

<section class="main-content">
            <div class="container-xl">
                <div class="row gy-4">

                                <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>
                            </div> 
                         
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>